<h3><%= @word.content %></h3>
<!-- need pagination for large numbers -->
<!-- need to include surrounding 'sentences' -->
<h5>.. and the context <em><%= @word.content %></em> appears in:</h5>

<% @sentences.each do |sentence| %>
  <% number = sentence.number %>

  <!-- AND the movie is the same movie... must fix -->
  <% previous_sentence = Sentence.where("number = #{number - 1} AND movie_id = #{sentence.movie_id}").take.content %>
  <% following_sentence = Sentence.where("number = #{number + 1} AND movie_id = #{sentence.movie_id}").take.content %>

  <%= "@#{sentence.time_marker}" %><br>
  <%= previous_sentence %><br>
  <strong><%= sentence.content %></strong><br>
  <%= following_sentence %><br><br>
<% end %>

 AND movie_id = sentence.movie_id
