<h3><%= link_to @word.content, "http://www.google.com/search?q=#{@word.content}" %></h3>

<h5>.. and the context <em><%= @word.content %></em> appears in:</h5>

<!-- ideally, remove Arel from views! won't be easy bc of the each block-->

<% @sentences.each do |sentence| %>
  <% number = sentence.number %>

  <% previous_sentence = 
    Sentence.where("number = #{number - 1} 
    AND movie_id = #{sentence.movie_id}").take.content %>

  <% following_sentence = 
    Sentence.where("number = #{number + 1} 
    AND movie_id = #{sentence.movie_id}").take.content %>

  <%= "@#{sentence.time_marker}" %><br>
  <%= previous_sentence %><br>
  <strong><%= sentence.content %></strong><br>
  <%= following_sentence %><br><br>
<% end %>
