<h3>
  <%= link_to @word.content, 
    "http://www.google.com/search?q=#{@word.content}" %>
</h3>

<h5>.. and the context <em><%= @word.content %></em> appears in:</h5>

<% @sentences.each do |sentence| %>


  <%= "@#{sentence.time_marker}" %><br>
  <%= sentence.previous.first.content %><br>
  <strong><%= sentence.content %></strong><br>
  <%= sentence.following.first.content %><br><br>
<% end %>
